<form class="post-form" action="index.html" method="post">
  <input class='post-title' type="text" name="name" value="Title">
  <input class='post-body' type="textarea" name="name" value="Body">
  <input class='post-submit' type="submit" name="name" value="">
</form>
